* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('bggif.gif');
    font-family: Arial, sans-serif;
    line-height: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 95vh;
}

.operations {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 20px;
    background-image: url(tetris.jpg);
    border-radius: 10px;
    color: #000;
    border: 10px solid grey;
    overflow-y: auto;
}

.operations .operation-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.operations button, .operations input, .operations p {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: 2px solid maroon;
    border-radius: 10px;
    background-color: maroon;
    color: white;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    transition: background-color 0.3s, border 0.3s;
}

.operations input {
    background-color: white;
    color: black;
}

.operations button:hover {
    background-color: #3C0008;
    border-color: #3C0008;
}

.operations p.inactive-button {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.simulation-box {
    background-image: url(tetris.jpg);
    flex: 2;
    display: flex;
    flex-direction: row;
    border: 10px solid grey;
    border-radius: 5px;
    justify-content: flex-start;
    padding: 20px;
    
}

.box {
    margin: 10px;
    width: 100px;
    height: 100px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
    color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

.box:hover {
    transform: scale(1.1);
}

#earth {
    background-image: url('earth.jpg');
}

#sun {
    background-image: url('sun.jpg');
}

#moon {
    background-image: url('moon.jpg');
}

#earth, #sun, #moon {
    background-size: cover;
    background-position: center;
}

.flexbox-operation, .align-item, .justify-content, .flex-direction, .flex-grow {
    margin-bottom: 20px;
    align-items: center;
}

.flexbox-operation .gap-container, .flex-grow .flex-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex-box {
    display: flex;
    flex-direction: row;
}

.flexbox-operation input, .flex-grow input {
    font-size: 1.2rem;
    width: 50px;
    text-align: center;
}
